@model Cybersport.Infrastructure.Models.Tournament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TournamentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamWinner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamWinner.TeamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
